$secondary-colour: #FBFA20;

.introCard {
    display: flex;
    flex-direction: column;
    gap: 6em;

    .introText {
        border: solid #8F8E85;
        border-radius: 3%;
    }
}

.mainContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 80%;
  
}

.homeContent {
    display: flex;
    align-items: flex-start;
    flex: 1 1 80%;
    .linkContainer {
        display: flex;
        justify-content: center;
    }
}
.spacer {
    display: flex;
    flex: 1 1 20%;

}

body {
    height: 100vh;
}

.links {
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,1);
    max-width: 300px;
    padding-top: 1em;
    min-width: 5em;
    flex-grow: 1;
    img {
        max-width: 64px;
        height: auto;
        transition: transform 0.5s;
    }
    img:hover {
        transform: rotate(180deg);
    }
}

.overallContent {
    display: flex;
    height: 100vh;
}

.prjDrop {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    text-align: end;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            margin-bottom: 10px;
            
        }
    }
    .dropdown {
        font-size: large;
        &:hover, &:focus-within {
            .dropItems {
                transform: rotateY(0);
                visibility: visible;
            }
        }
    }
    

    .prjContent {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
        align-items: center;
        padding: 0;
    }

    .dropItems {
        display: flex;
        flex-direction: column;
        transform: rotateY(-90deg);
        transform-origin: bottom right;
        transition: 300ms all ease-out;

        a {
            text-decoration: none;
            color: black;
            transition: 300ms;
            padding: 10px;
            padding-right: 0;
            margin: 10px;
            margin-right: 0;
            &:hover {
                color: #8F8E85
            }
        }
    }
}


.skills {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}