$primary-colour: #9A8F97;
$secondary-colour: #DAF5FF;
 

$background-colour: #C1C0B8;



.introCard {
    display: flex;
    flex-direction: column;
    gap: 6em;

    .introText {
        box-shadow: 6px 6px 6px 6px rgba(0,0,0,1);
        padding: 1em;
        margin: 1em;

        li {
            text-decoration: none;
            list-style: none;
            padding-left: 0;
        }

        ul {
            padding-left: 0;
        }
        .skills {
            .skillsHeader {
                border-bottom: double #8F8E85;
                margin-bottom: 0.5em;
            }

           .focusHeader {
            border-bottom: double #8F8E85;
            font-weight: 600;
            margin-bottom: 0;
           }
        }
    }
}

.mainContent {
    //height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 80%;
    background-color: $secondary-colour;
}

::-webkit-scrollbar {
    display: none;
  }

.homeContent, .prjContent, .realmReviews {
    display: flex;
    align-items: flex-start;
    flex: 1 1 80%;
    overflow-y: auto;
    
    

    .linkContainer {
        display: flex;
        justify-content: center;
    }
}
.spacer {
    display: flex;
    flex: 1 1 20%;

}

body {
    height: 100vh;
}

.links {
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,1);
    max-width: 300px;
    padding-top: 1em;
    min-width: 5em;
    flex-grow: 1;
    img {
        max-width: 64px;
        height: auto;
        transition: transform 0.5s;
    }
    img:hover {
        transform: rotate(180deg);
    }
}

.overallContent {
    display: flex;
    height: 100vh;
}

.prjDrop {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    text-align: end;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            margin-bottom: 10px;
            
        }
    }
    .dropdown {
        font-size: 2.5em;
        
        &:hover, &:focus-within {
            .dropItems {
                transform: rotateY(0);
                visibility: visible;
            }
        }

        h3 {
            margin-top: 0;
        }
    }
    

    .prjContent {
        display: flex;
        flex-direction: column;
        flex: 1 1 80%;
        align-items: center;
        padding: 0;
        background-color: $secondary-colour;
      
        h3 {
            border-bottom: double #8F8E85;
        }
    }

    .dropItems {
        display: flex;
        flex-direction: column;
        transform: rotateY(-90deg);
        transform-origin: bottom right;
        transition: 300ms all ease-out;

        a {
            text-decoration: none;
            color: black;
            transition: 300ms;
            padding: 10px;
            padding-right: 0;
            margin: 10px;
            margin-right: 0;
            &:hover {
                color: #8F8E85
            }
        }
    }
}


.prjContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    .introPrjCard {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 6px 6px 6px 6px rgba(0,0,0,1);
        min-width: 90%;
        max-width: 70vw;
        padding: 1em;
        margin: 1em;
        
    }
    h1 {
        border-bottom: double #8F8E85;
    }

    a {
        display: flex;
        justify-content: center;
    }

    img {
        &:hover {
            opacity: 1;
        }
        max-width: 60vw;
        height: auto;
        opacity: 0.8;
        transition: 300ms;
        align-self: center;
    }
}

.spacer {
    background-color: $primary-colour;
        width: 100%;
        display: flex;
        justify-content: center;
    a {
        
        text-decoration: none;
        color: black;
        transition: 300ms;
        padding: 10px;
        padding-right: 0;
        margin: 10px;
        margin-right: 0;
        
    }
}
.home {

    font-size: 2.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 300ms;

    &:hover {
        color: #8F8E85;
    }

}

.realmReviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70%;
}

.slideHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    max-width: 90%;
    position: relative;

    .prevImg, .nextImg {
        background-color: $secondary-colour;
        border: 0 solid;
        border-radius: 2em;
        cursor: pointer;
        font-size: 1.3em;
        text-align: center;
        transition: all 150ms;
        padding: 0.5em;
        font-weight: 600;
        
        &:hover{
            background-color: $primary-colour;
        }
   
    }

    .prevImg {
        position: absolute;
        top: 50%;
        right: 90%;
       
    } 
    .nextImg {
        position: absolute;
        top: 50%;
        left: 90%;
    }
    img {
        max-width: 100%;
    }
}