
.introCard {
    display: flex;
    flex-direction: column;
}

.mainContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.homeContent {
    display: flex;
    align-items: center;
    flex: 1 1 40%;
}
.spacer {
    display: flex;
    flex: 1 1 60%;
}

body {
    height: 100vh;
}

.links {
    display: flex;
    justify-content: space-around;
    box-shadow: 7px 10px 4px -4px rgba(0,0,0,1);
    max-width: 300px;
    img {
        max-width: 64px;
        height: auto;
    }
    
}